body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  font: 14px 'Istok Web', sans-serif;
  color: #333333;
  text-shadow: 0 1px 0 white;
  background: white;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  display: inline-block;
  height: 17px; }

a:hover {
  border-bottom-style: solid; }

#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }

#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

small {
  font-style: italic;
  font-size: 11px; }
  
.shout-container {
    position: relative;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
}

.shout-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.showing-experiment #ce-logo {
  opacity: 0.1; }

#ce-logo {
  pointer-events: all;
  transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  /*background: url(images/chromeexperiment.png);*/
  font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 22px;
  text-align: right;
  line-height: 24px;
  opacity: 0.4;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 9;
  bottom: 20px;
  right: 35px;
  width: 240px;
  height: 55px; }
  #ce-logo span {
    display: block;
    font-size: 12px;
    line-height: 18px; }
  #ce-logo:hover {
    opacity: 1; }
