$crimson: #FF4D5B;
$white: #fff;

@mixin animation-delay($time) {
	animation-delay: $time;
}

%flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: $crimson;
	font-family: 'Lato';
	font-weight: 900;
	
	@extend %flex;
}

*, *:before, *:after, h2, e {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-style: normal;
	font-family: 'Lato';
	font-weight: 800;
	color: $white;
	font-size: 1.2em;
	letter-spacing: 1px
}

.icon {
	width: 64px;
	height: 64px;
	background-color: rgba($white, 0);
	margin-right: 10px;
	border-radius: 10px;
	position: relative;
	
	@extend %flex;
	
	animation: icon-rotate .3s cubic-bezier(.35,-0.59,.53,1.44) forwards;
	animation-delay: 2.75s;
	
	.circle-one {
		clip: rect(0, 16px, 16px, 8px); 
		height: 16px;
		width: 16px;
		position: relative;
		animation: loading 3.15s linear 1 forwards;
		
		&:after {
			clip: rect(0, 16px, 16px, 8px);
			content:'';
			border-radius: 50%; 
			height: 16px;
			width: 16px;
			position: absolute;
			
			animation: loading-after 3.15s linear 1 forwards;
		}
	}
	
	.circle-two {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: 2px solid $white;
		margin-left: -2px;
		transform: scale(0);
		
		animation: circleTwo .3s cubic-bezier(.35,-0.59,.53,1.44) forwards;
		animation-delay: 2.75s;
	}
}

h2 {
	position: relative;
	display: flex;
	
	.letter {
		transform: scale(0);
		animation: pop-up .25s cubic-bezier(.42,-0.79,.57,1.74) forwards;
		
		@for $i from 1 through 15 {
		&:nth-child(#{$i}) {
			@include animation-delay((2.8s + ($i * 0.05)));
		}
	}	
	}
}

@keyframes icon-rotate {
	0%{transform:rotate(-45deg) scale(.4)}
	100% {
		transform: rotate(0deg) scale(1);
		background-color: rgba($white,.3);
	}
}

@keyframes pop-up {
	0%{transform: scale(0) translateY(-10px); opacity: 0;}
	80%{transform: scale(1.3) translateY(-2px); opacity: .8;}
	100%{transform: scale(1) translateY(0px); opacity: 1;}
}

@keyframes circleTwo {
	0%{transform: scale(0)}
	100%{transform: scale(1)}
}

@keyframes loading {
  	0% {
    	transform: rotate(0deg)
  	}
  	33% { 
		transform: rotate(460deg)
  	}
	33.001% {
		transform: rotate(0deg)
	}
	66% {
		transform: rotate(460deg)
	}
	66.001% {
		transform: rotate(0deg)
	}
	80%{
		clip: rect(0, 16px, 16px, 8px);
	}
	100% {
		clip: rect(0, 16px, 16px, 0);
		transform: rotate(460deg)
	}
}

@keyframes loading-after {
  	0% {
    	box-shadow: inset $white 0 0 0 2px;
    	transform: rotate(-140deg);
  	}
  	33% {
    	box-shadow: inset $white 0 0 0 2px;
    	transform: rotate(140deg);
  	}
	33.001% {
		box-shadow: inset $white 0 0 0 2px;
    	transform: rotate(-140deg);
	}
	66% {
		box-shadow: inset $white 0 0 0 2px;
    	transform: rotate(140deg);
	}
	66.001% {
		box-shadow: inset $white 0 0 0 2px;
    	transform: rotate(-140deg);
	}
	80%{
		clip: rect(0, 16px, 16px, 8px);
	}
	100% {
		clip: rect(0, 16px, 16px, 0);
		box-shadow: inset $white 0 0 0 2px;
    	transform: rotate(140deg);
	}
}